nav{
    height: 40px;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    background-color: #06063a;
}
nav a{
    margin-left: 15px;
    color: white;
}
nav a:hover{
    color: #c3c3c3;
}


.sub-nav{
    height: 15px;
    display: flex;
    align-items: center;
    margin: 1px 5px 2px 5px;
}
.stats {
    display: flex;
    font-size: 12px;
    width: -webkit-fill-available;
    justify-content: space-between;
}
.stat-data{
    color: #0000ee
}
.sign{
    border: 1px solid rgb(212, 212, 212);
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 3px;
    background-color: #13c783;
    color: white
}

.coinInfo{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.coinInfo .data-increase,
.coinInfo .data-decrease{
    font-size: 15px;
}
.price {
    display: flex;
    flex-direction:column;
    font-size: 15px;
    color: #756e6e;
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.coin-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 10px; */
    font-size: 15px;
    color: #756e6e;
    /* text-align: center; */
} 
.history{
    /* border: 2px solid red; */
    height: 150px;
}

.pageNumbers{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #06063a;
    margin-bottom: 5px;
    height: 40px;
}
.pageNumbers li{
    list-style: none;;
    color: white;
    padding: 5px;
    cursor: pointer
}
.pageNumbers li:hover{
    border-bottom: 2px solid whitesmoke;
}
 .active{
    border-bottom: 2px solid whitesmoke;
}



/* Single Coin */
.coin-head, .rank-type{
    display: flex;
    align-items: center;
}
.single-coin-names{
    margin: 10px;
    display: flex;
    align-items: center;
    /* justify-content: end; */
}
.single-coin-names h1{
   font-size: 35px;
}

.single-coin-names h5,
.rank-type h4{
    margin: 15px;
    border: 2px solid #efefef;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 6px;
    text-align: center;
}
.rank-type h4{
    margin: -30px 30px 15px 0;
    
}
.rank-type h4:first-child{
    background-color: #808a9d;
    color:white
    
}
.links{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
}
.links li{
    list-style: none;
    margin: 0 15px 15px 0;
    border: 2px solid #efefef;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 6px;
}
.links li a{
    color: black;
}
.links li a:hover,
.links li:hover{
    color: white;
    background-color: #808b9c;
}


.coin-price{
    display: flex;
    align-items: baseline;
}
.low-high{
    display: flex;
}
.low-high p {
    margin: -7px 20px 0 0;
}
.increase, .decrease{
    margin-left: 15px;
    border-radius: 7px;
    color: white;
    margin-top: 10px;
    padding: 4px;
}
.decrease{
    background-color: #eb3943;
}
.increase{ 
    background-color: #13c783
}
.coin-statistics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.figures{
    margin-top: -15px;
}
.coin-graph{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

/* Other Data */
.other-data{
    border-top: 2px solid #efefef;
    width: -webkit-fill-available;
}